// ========== Переиспользуемые анимации ==========

// FADES
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInCurrentColor {
  from {
    color: transparent;
  }

  to {
    color: currentColor;
  }
}

// SLIDES
@keyframes slideInUp2rem {
  from {
    transform: translateY(calc(2rem));
  }

  to {
    transform: translateY(0);
  }
}

// EXPANSIONS
@keyframes expansion {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

// BOUNCE
@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

// ========== Уникальные анимации ==========
// Кнопка "Погнали" в "Правилах" - размер
@keyframes expansion4RemTo18Rem {
  from {
    opacity: 0;
    width: 4rem;
  }

  to {
    opacity: 1;
    width: 18rem;
  }
}

// Кнопка "Погнали" в "Правилах" - цвет текста
@keyframes fadeInTransparentToDarkColor {
  from {
    color: transparent;
  }

  to {
    color: $c-dark;
  }
}
